[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	pager = delta
	excludesfile = ~/.gitignore_global

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[ghq]
	root = {{ .ghqRoot }}

[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autoStash = true

[push]
	default = current
	autoSetupRemote = true

[worktree]
	guessRemote = true
